<h1><%= 'Tasks' %></h1>

<div class="container">
  <div class="row"> 
    <div class="col col-33">
      <h3 class="new"><%= 'New tasks' %></h3>
      <% @tasks.where(task_status: 0).each do |t| %>
        <ul>
          <%= render 'tasks/task', t: t %>
          <%= link_to 'Start task', start_task_path(t), class: 'button button-next' %> 
        </ul>
      <% end %>
    </div>
    <div class="col col-33">
      <h3 class="in-progress"><%= 'In progress' %></h3>
      <% @tasks.where(task_status: 1).each do |t| %>
        <ul>
          <%= render 'tasks/task', t: t %>
          <% if t.approved_counter >= 2 %>
            <%= link_to 'Task completed', complete_task_path(t), class: 'button button-next' %> 
          <% end %>
        </ul>
      <% end %>  
    </div>
    <div class="col col-33">
      <h3 class="completed"><%= 'Complete' %></h3>
      <% @tasks.where(task_status: 2).each do |t| %>
        <ul>
          <%= render 'tasks/task', t: t %>
        </ul>
      <% end %>
    </div>
  </div>
</div>