<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>Responsible:</strong>
  <%= @task.user.email %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to "Delete", task_path, method: :delete, data: { confirm: 'Are you sure?' } %>
